@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto');

.container-fluid {
    height: 100vh;
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-family: "Righteous", cursive;
    font-size: 100px;
}

.btn-secondary {
    margin: 10px;
}

.badge {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.colour {
    height: 250px;
    width: 250px;
    display: inline-block;
    border-radius: 20%;
    margin: 10px;
    box-shadow: 10px 10px 5px grey;
}

.colour:active {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

#blue {
    background-color: rgba(0,0,255,1);
}

#blue:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 255, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 255, .75);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 255, .75); 
}

#red {
    background-color: rgba(255, 0, 0, 1);
}

#red:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, .75);
    box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, .75); 
}

#yellow {
    background-color: rgba(255, 255, 0, 1);
}

#yellow:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 0, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 0, .75);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 0, .75); 
}

#orange {
    background-color: rgba(255, 165, 0, 1);
}

 #orange:active {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 165, 0, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 165, 0, .75);
    box-shadow: 0px 0px 15px 5px rgba(255, 165, 0, .75); 
} 