@import url("https://fonts.googleapis.com/css?family=Audiowide|Exo+2");
 
body {
    background-color: lightgrey;
} 
 
h1 {
    text-align: center;
    font-family: "Audiowide", cursive;
    font-size: 70px;
}


/* Buttons */
.btn {
    font-family: "Exo 2", sans-serif;
    font-size: 24px;
    margin: 10px;
}

.checkboxtext {
    font-family: "Exo 2", sans-serif;
    font-size: 24px;
    margin-left: 5px;
}

#score {
    font-family: "Exo 2", sans-serif;
    font-size: 24px;
    margin-left: 10px;
}

.colour {
    opacity: 1;
    height: 200px;
    width: 200px;
    display: inline-block;
    border-radius: 20%;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 2px grey;
}

.active {
    opacity: .7;
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -ms-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75);
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

/*Media Queries*/
@media(min-width: 1024px){
    .colour{
    width: 250px;
    height: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px grey;
    }
    
    h1 {    
    font-size: 140px;
    }
    
    /* Code to resize the checkbox from https://stackoverflow.com/a/10415275/9179340 */
    input[type=checkbox] {
     -ms-transform: scale(2); 
     -moz-transform: scale(2); 
     -webkit-transform: scale(2); 
     -o-transform: scale(2); 
     padding: 10px;
    }
}

